beautifulsoup4==4.10.0
bs4==0.0.1
Flask==2.0.2
Jinja2==3.0.3
nltk==3.6.5
pandas==1.3.4
python-dateutil==2.8.2
scikit-learn==1.0.1
sklearn==0.0
gunicorn==20.0.4
requests==2.25.0
urlopen
urllib3

